.ulstyle h2{
    font-weight: 400;
    color: rgb(204, 214, 246);
    position: relative;
    display: flex;
    align-items: unset;
   
    width: 100%;
    white-space: nowrap;
    font-size: 15px;
    justify-content: center;

}

.colored {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 13px;
    position: relative;
    bottom: -6px;
}
.laptopViewNavbar{
    position: fixed;
    top: 1em;
    right: 4em;
    z-index: 99999999999;
    background-color: #0a192f;
    border-radius: 7px;
    padding: 8px 2px 8px 2px;
}

@media screen and (max-width: 480px) {

    .laptopViewNavbar{
       display: none;
    }
}