.card{
    background-color: #172a45;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2rem 1.75rem;
    height: 20em;
    border-radius: 3px;
    width: 22%;
    margin: 4px;

}

.cardHeading{
    margin: 0px 0px 10px;
    font-size: 22px;
    color: rgb(204, 214, 246);
    font-weight: 600;

}
.cardButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin-bottom: 15px;
}
.file{
    font-size: 36px;
    color: #64ffda;
    
}
.github{
    font-size: 30px;
    color: #64ffda;
}

.cardBody > p{
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 17px;

}
.hashtag{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(100, 255, 218);
    line-height: 1.75;
}

@media screen and (max-width: 480px) {

      
    .card{
        padding: 1em 1em;
        width: 35%;
        height: 15em;
        }
        
        .cardHeading{
        font-size: 15px
        }
        .cardBody p{
         font-size: 13px;
        }
}